<style>
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
</style>
@page {
}
body{
}

html{
    font-family: sans-serif;
    font-size: 14px;
    color: #222;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
ul{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}

.main{
    background-color: #fff;
    
    width: 210mm;
    height: 297mm;
    min-width: 210mm;
    min-height: 297mm;
    max-width: 100wh;
    max-height: 100vh;
}

.flex-container{
    display: flex;
}

.left {
    width: 64mm;
    background-color: #333333;
    color: #eee;
    padding: 12px 16px;
    min-height: 297mm;
}

.info-title{
    margin: 12px 0 4px 0;
    font-size: 18px;
}

.info-title-seperator{
    background-color: #bbb;
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 12px;
}
.right .info-title-seperator{
    width: 100%;
    background-color: #aaa;
}

.img{
    width: 100%;
    display: block;
}

.link{
    color: #eee;
    transition: all .2s ease-out;
    text-decoration: none;
}
.link:hover{
    color: #1d91df;
    text-decoration: underline;
}

.info-list {
    list-style-type: none;
}

.info-item-icon{
    margin-right: 8px;
}
.info-item-icon svg {
    width: 20px;
}

.info-item {
    font-size: 13px;

    display: flex;
    align-items: center;
}
.work-detail-item + .work-detail-item{
    margin-top: 2.2px;
}

.skill-item{
    display: flex;
    flex-direction: column;
}

.skill-label{
    display: block;
    flex: 1;
    font-size: 13px;
    width: 100%;
    margin-bottom: 6px;
}

.skill-rating-container{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 10px;
}

.circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #888;
    border-radius: 50%;
    /* border: 1px solid #eee; */
    margin-left: 8px;
    position: relative;
    overflow: hidden;
}
.circle-filled{
    background-color: white;
}
.circle-half-filled::after{
    content: '';
    background-color: white;
    position: absolute;
    top: 0;
    right: 50%;
    width: 12px;
    height: 12px;
}

.right{
    width: 146mm;
    padding: 12px 16px;
    min-height: 297mm;
}

.title{
    background-color: #3c6382;
    padding: 16px;
}
.title .vertical-rectangle-container{
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
}
.title .vertical-rectangle-container .vertical-rectangle{
    margin-left: 12px;
    height: 100%;
    width: 12px;
    background-color: #fff;
}
.title .name{
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 0 0;
    color: #fff;
}
.title .position{
    margin-top: 6px;
    margin-bottom: 0;
    color: #eeeeee;
}

.experience-item{
    display: flex;
    margin-top: 16px;
}
.experience-item-left{
}
.experience-item-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work-detail-list{
    padding-left: 20px;
}

.company-name{
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 4px;
    color: #3C6382;
}

.from-to{
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    float: right;
}
.from-to::after{
    clear: both;
}
.from-to.position{
    font-weight: bold;
    margin-top: 4px;
}

.school-name{
    display: flex;
    justify-content: space-between;
}

.experience-container + .experience-container{
    margin-top: 16px;
}

.repo-link{
    color: #333;
}

.work-detail-item-start{
    font-weight: bold;
    color: #333;
}

.no-margin{
    margin-top: 0;
    margin-bottom: 4px;
}

.sub-detail {
    list-style-type: circle;
    margin-left: 12px;
}

.color-cyan{
    color: #3C6382;
}