<style>
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');
</style>
@page {
    size: 210mm 297mm;
    /* margin: 27mm 16mm 27mm 16mm; 297mm*/
}
body{
    
    /* background-color: #ccc; */
    position: relative;
}
/* body::after{
    content: '';
    background-color: black;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 216mm;
    top: 0;
} */
.main{
    display: flex;
    width: 100%;
    background-color: #fff;
    /* padding-right: 20px; */
    /* border: 1px solid #333; */
}

html{
    font-family: sans-serif;
    font-size: 14px;
    color: #222;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
ul{
    padding: 0;
    margin: 0;
}

.left {
    width: 64mm;
    background-color: #333333;
    color: #eee;
    padding: 16px 16px;
    /* height: 7in; */
    height: 297mm;
    z-index: 5;
}
.info-title{
    margin: 20px 0 4px 0;
    font-size: 18px;
}

.info-title-seperator{
    background-color: #bbb;
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 12px;
}
.right .info-title-seperator{
    width: 100%;
    background-color: #aaa;
}

.img{
    width: 100%;
    display: block;
}
.link{
    color: #eee;
    transition: all .2s ease-out;
    text-decoration: none;
}
.link:hover{
    color: #1d91df;
    text-decoration: underline;
}
.info-list {
    list-style-type: none;
}
.info-item-icon{
    margin-right: 8px;
}
.info-item-icon svg {
    width: 20px;
}

.info-item {
    font-size: 13.5px;

    display: flex;
    align-items: center;
}
.work-detail-item + .work-detail-item{
    margin-top: 2px;
}
.skill-item{
    display: flex;

    flex-direction: column;
}
.skill-label{
    display: block;
    flex: 1;
    font-size: 13.5px;
    width: 100%;
    margin-bottom: 6px;
}
.skill-rating-container{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-bottom: 10px;
}

.circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #888;
    border-radius: 50%;
    /* border: 1px solid #eee; */
    margin-left: 8px;
    position: relative;
    overflow: hidden;
}

.circle-filled{
    background-color: white;
}

.circle-half-filled::after{
    content: '';
    background-color: white;
    position: absolute;
    top: 0;
    right: 50%;
    width: 12px;
    height: 12px;
}

.right{
    width: 156mm;
    padding: 16px 24px 16px 24px;
    border: 1px solid #333;

}

.right .title{
    position: relative;
    z-index: 1;
    width: calc(100% + 25px);
}

.right .title::after{
    position: absolute;
    content: '';
    background-color: #3c6382;
    height: calc(100% + 55px);
    width: calc(100% + 70mm);
    top: -25px;
    left: -70mm;
    z-index: -2;
}
.title .vertical-rectangle-container{
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 30px;
}
.vertical-rectangle{
    margin-left: 12px;
    height: 100%;
    width: 12px;
    background-color: #fff;
}
.title .name{
    font-size: 32px;
    text-transform: uppercase;
    margin: 55px 0 0 0;
    color: #fff;
}
.title .position{
    margin-top: 10px;
    /* margin-bottom: 116px; */
    margin-bottom: 71px;
    /* color: #444; */
    color: #eeeeee;
}
.experience-item{
    display: flex;
    margin-top: 16px;
}
.experience-item-left{
    /* flex: 1; */
    /* margin-right: 10px; */
}
.experience-item-right{
    /* flex: 3.5; */
    /* margin-left: 30px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}
.work-detail-list{
    padding-left: 20px;
}
.company-name{
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 4px;
    color: #3C6382;
}
.from-to{
    margin-bottom: 4px;
    font-size: 14.5px;
    font-weight: 600;
    color: #444;
    float: right;
    /* margin-right: 20px; */
}

.from-to::after{
    clear: both;
}

.from-to.position{
    font-weight: bold;
    margin-top: 4px;
}
.school-name{
    /* padding-right: 24px; */
    display: flex;
    justify-content: space-between;
}

.experience-container + .experience-container{
    margin-top: 16px;
}
.repo-link{
    color: #333;
}
.work-detail-item-start{
    font-weight: bold;
    color: #333;
}

.no-margin{
    margin-top: 0;
    margin-bottom: 4px;
}

.sub-detail {
    list-style-type: circle;
    margin-left: 16px;
}

.color-cyan{
    color: #3C6382;
}